* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.programContainer {
  display: flex;
  flex-direction: column;
  font-family: "Dancing Script", cursive;
  align-items: center;
  justify-content: center;
  background-image: radial-gradient(rgb(238, 230, 230), red);
}
.header,
.input,
.footer {
  padding: 20px;
}
.headerTitle {
  background-color: white;
  color: #d4af37;
  font-style: italic;
  font-size: 30px;
  padding: 10px 60px;
  border-radius: 15px;
}
.mode,
.error,
.currentColor {
  font-size: 25px;
  font-weight: bold;
  color: rgb(211, 44, 44);
}
.mode,
.currentColor {
  padding-bottom: 10px;
}
.error {
  padding-top: 15px;
}
.gridNButtons {
  display: flex;
  gap: 50px;
}
.buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.option {
  cursor: pointer;
  border: none;
  font-family: "Dancing Script", cursive;
  font-weight: bold;
  background-color: white;
  color: rgb(211, 44, 44);
  font-size: 25px;
  width: 150px;
  height: 150px;
  border-radius: 100%;
  transition: all 0.5s ease;
}
.option:hover,
.inputButton:hover {
  background-color: rgb(211, 44, 44);
  color: white;
}
.grid {
  border: 1px solid black;
  box-shadow: 4px 3px black;
  display: grid;
  min-width: 300px;
  min-height: 300px;
  width: 60vw;
  height: 60vw;
  max-width: 750px;
  max-height: 750px;
}
.grid:hover {
  cursor: alias;
}
.canvasGrid {
  border: none;
}
.inputText,
.inputButton {
  border: none;
  font-family: "Dancing Script", cursive;
  font-size: 22px;
  padding: 10px;
  background-color: white;
  color: rgb(211, 44, 44);
}
.inputButton {
  cursor: pointer;
  border-radius: 15px;
}
.footer {
  color: white;
}
a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

/* iPad Screen */
@media screen and (max-width: 820px) {
  .gridNButtons {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .buttons {
    flex-direction: row;
  }
  .option {
    font-size: 25px;
    width: 120px;
    height: 120px;
  }
}

/* iPhone Pro Screen */
@media screen and (max-width: 390px) {
  .option {
    font-size: 20px;
    width: 90px;
    height: 90px;
  }
}
