* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.programContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: radial-gradient(rgb(255, 255, 255), red);
}
.header,
.input,
.footer {
  padding: 20px;
}
.headerTitle {
  background-color: white;
  color: rgb(211, 44, 44);
  font-size: 30px;
  padding: 10px 60px;
  border-radius: 15px;
}
.mode,
.error,
.currentColor {
  font-size: 22px;
  font-weight: bold;
  color: rgb(211, 44, 44);
}
.mode,
.currentColor {
  padding-bottom: 5px;
}
.error {
  padding-top: 15px;
}
.gridNButtons {
  display: flex;
  gap: 50px;
}
.buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.option {
  cursor: pointer;
  border: none;
  background-color: white;
  color: rgb(211, 44, 44);
  font-size: 25px;
  width: 150px;
  height: 150px;
  border-radius: 100%;
  transition: all 0.5s ease;
}
.option:hover,
.inputButton:hover {
  background-color: rgb(211, 44, 44);
  color: white;
}
.grid {
  border: 1px solid black;
  display: grid;
  width: 502px;
  height: 502px;
  box-shadow: 4px 3px black;
}
.canvasGrid {
  border: none;
}
.inputText,
.inputButton {
  border: none;
  font-size: 22px;
  padding: 10px;
  background-color: white;
  color: rgb(211, 44, 44);
}
.inputButton {
  cursor: pointer;
  border-radius: 15px;
}
.footer {
  color: white;
}
a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}
